tensorboard
cmake
timm==0.3.4

omegaconf==2.0.6

git+https://github.com/rwightman/efficientdet-pytorch.git@645d84a6f0cd837703f98f48179a06c354902515
Pillow==7.2.0
pydicom==2.1.1
opencv-python==4.3.0.36
opencv-python-headless==4.3.0.36
pandas
tqdm